.Card {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid;
    margin: 10px;
    display: flex;
    flex-direction: column; /*A propriedade flex-direction define a direção do eixo principal (main-axis) */
    min-width: 500px;
    max-width: 500px;

}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex-grow: 1;/* define a proporção com que um item deve crescer caso seja necessário*/
    background-color: #fff;
    color:black;
    padding: 100px;
}