body{
    background-image: linear-gradient(to right , rgb(228, 228, 228),gray,rgb(37, 37, 37));
    font-family: Oswald;
    color: #fff;
    text-align: center;
}

h1, h2, h3{
    font-weight: 200;
    
}

h2, h3{
    margin: 0;   
}